# Server Secrets
JWT_SECRET=your_jwt_secret_here

# Admin Login Password
ADMIN_PASSWORD=your_admin_password_here

# Your Vercel frontend URL
FRONTEND_URL=https://your-frontend-url.vercel.app

# Node environment
NODE_ENV=production
