# Server Secrets
JWT_SECRET=supersecretkey_change_me_to_something_random

# Admin Login Password
ADMIN_PASSWORD=admin123

# Your Vercel frontend URL (Railway mein add karna)
FRONTEND_URL=https://pharmacy-management-system-sandy.vercel.app

# Node environment
NODE_ENV=production
